_libgcc_mutex==0.1
_openmp_mutex==5.1
bzip2==1.0.8
ca-certificates==2023.08.22
ld_impl_linux-64==2.38
libffi==3.3
libgcc-ng==11.2.0
libgomp==11.2.0
libstdcxx-ng==11.2.0
libuuid==1.41.5
ncurses==6.4
openssl==1.1.1w
pip==23.2.1
python==3.10.0
readline==8.2
setuptools==68.0.0
sqlite==3.41.2
tk==8.6.12
tzdata==2023c
wheel==0.38.4
xz==5.4.2
zlib==1.2.13
cycler==0.11.0
fonttools==4.42.1
kiwisolver==1.4.5
matplotlib==3.5.0
numpy==1.26.0
packaging==23.1
pillow==10.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
setuptools-scm==7.1.0
six==1.16.0
tomli==2.0.1
